@font-face {
  font-family: "studio pro";
  src: url(/studio-pro-regular-webfont.woff);
}

:root {
  --studioPro: "studio pro";
}

* {
  box-sizing: border-box;
  padding: 0;
  margin: 0;
}

p {
  cursor: pointer;
  font-family: var(--studioPro);
  font-size: 0.9rem;
}

.wrapper {
  padding: 40px 20px;
}

.leftMenu {
  position: fixed;
  top: 40px;
  display: flex;
  flex-direction: column;
  gap: 14px;
  width: fit-content;
}